.date {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.date:hover {
  background: #fea771;
}

.date--active {
  background: #33ba99;
}

.date--selected {
  background: #fea771;
}

.date__weekday,
.date__number {}

.date__weekday {
  font-size: .75em;
}

.date__number {
  font-size: 1.5em;
  font-weight: bold;
}