.header {
  margin: -1rem -1rem 1rem;
  padding: 1rem;
  background: #20193f;
  box-shadow: 2px 2px 12px #a48d76;
  color: white;
  text-align: center;
}

.header__title {
  margin: 0;
  color: #F2E6B6;
  letter-spacing: .1rem;
  text-transform: uppercase;
}