.log-activity-section {
  padding-bottom: 1rem;
}

.add-activity__title {
  margin-bottom: .5rem;
}

.add-activity__sub-title {
  margin-bottom: .5rem;
}

.add-activity__label {
  font-size: .75rem;
  font-weight: 400;
  letter-spacing: .07rem;
  text-transform: uppercase;
}

.add-activity__input,
.add-activity__select {
  width: 100%;
  margin-bottom: .5rem;
  padding: .5rem;
  border: #8F9E8B solid 1px;
  border-radius: 0.25rem;
  font-size: 1.1rem;
  font-weight: 400;
}

.add-activity__input:focus {
  border: #5B7876 solid 2px;
  outline: none;
}

.add-activity__category {
  display: inline-block;
  margin-right: .5rem;
}

.add-activity__checkbox {
  -webkit-appearance: none;
  background-color: #fff;
  border: #8F9E8B solid 1px;
  padding: 9px;
  margin-right: .5rem;
  margin-bottom: .5rem;
  border-radius: 0.25rem;
  display: inline-block;
  position: relative;
  vertical-align: text-top;
}

.add-activity__checkbox:active,
.add-activity__checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.add-activity__checkbox:checked {
  background-color: #33ba99;
  border: #5B7876 solid 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #000;
}

.add-activity__checkbox:checked:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #000;
}